:root {
    --background-color: #c765be;
    --secondary-main-color: #f6b95a;
    --Nav-Main-color: #b92dab;
}

body {
    background-image: url("https://i.pinimg.com/originals/65/99/8d/65998d8238e2aeb7bb1587b0af716f4b.png");
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    height: auto;
    border: 5px solid var(--background-color);
    margin-right: auto;
    margin-left: auto;
}


header {
    text-align: center;
    background-color:#E9D281d8;
    padding: 10px;
}

img{
    width: 728px;
    height: 410px;
}

nav {
    padding: 30px;
    background-color: var(--secondary-main-color);
    text-align: center;
    border: 7px solid var(--background-color);
}

.nav-link {
    text-decoration: none;
    color: var(--Nav-Main-color);
    font-size: 25px;
    margin: 20px;
    border: 5px double var(--Nav-Main-color);
    border-radius: 10px;
    padding: 3px;
}

main {
    background-color: var(--secondary-main-color);
    color: var(--Nav-Main-color);
}

.juntar {
    background-color: var(--secondary-main-color);
}

.foot{
    margin-bottom: 0px;

}