:root {
    --primary-color: purple;
    --background-color: #ffe735;
    --light-primary-color: #9041cc ;
    --secondary-main-color: #77b42b;
    --nav-main-color: #8b0f3b;
}

body {
    background-image: url("https://i.pinimg.com/originals/65/99/8d/65998d8238e2aeb7bb1587b0af716f4b.png");
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    height: auto;
    border: 5px solid var(--background-color);
    margin-right: auto;
    margin-left: auto;
}


header {
    text-align: center;
    background-color: rgba(10, 189, 63, 0.616);
    padding: 10px;
}

img{
    width: 728px;
    height: 410px;
}

nav {
    padding: 30px;
    background-color: var(--secondary-main-color);
    text-align: center;
    border: 7px solid var(--background-color);
}

.nav-link {
    text-decoration: none;
    color: var(--nav-main-color);
    font-size: 25px;
    margin: 20px;
    border: 5px double var(--nav-main-color);
    border-radius: 10px;
    padding: 3px;
}

main {
    background-color: var(--secondary-main-color);
    color: var(--nav-main-color);
}

.juntar {
    background-color: var(--secondary-main-color);
}

.foot{
    margin-bottom: 0px;
}