.paragrafo-1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.paragrafo-2{
    font-family: 'Courier New', Courier, monospace;

}

.paragrafo-3{
    font-family: 'Fira Sans', sans-serif;
    
}